body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9aa4ff;
    font-family: Arial, sans-serif;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#submitButton {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
    box-sizing: border-box;
}

#submitButton:hover {
    background-color: #45a049;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.signup-link a {
    color: #4caf50;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}

#resetPasswordGroup {
    margin-top: 10px;
    text-align: left;
}

#resetPassword {
    cursor: pointer;
    color: #4caf50;
    font-weight: bold;
    margin-bottom: 5px;
}

#resetPassword:hover {
    text-decoration: underline;
}

#passwordResetExplain {
    display: none;
    font-size: 12px;
    color: #666;
}
